@model WebApplication1.Models.Family;

<html>
<head>
  
</head>
<body>
    <div class="card">
        <div class="card-header">
            <h1>CREATE</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <form asp-controller="Helloworld" asp-action="Created"method="post">
                        <div>
                            <label class="form-label">Id</label>
                            <input asp-for="Id"class="form-control" type="number" />
                        </div>
                        <div>
                            <label class="form-label">Name</label>
                            <input asp-for ="Name"class="form-control" type="text" />
                        </div>
                        <div class="mb-2">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
